# Copy this file to secrets.env and fill in your actual credentials
# DO NOT commit secrets.env to git!

awsendpoint=your-rds-endpoint.region.rds.amazonaws.com
awsuser=your_database_username
awspassword=your_database_password
awsdb=SmashBros
